<h1>Movies</h1>
<a href="/movies/new">Add New Movie</a>
<ul>
  <% movies.forEach(movie => { %>
  <li>
    <strong><%= movie.title %></strong> - Genre: <%= movie.genre_name %>
    <a href="/movies/<%= movie.id %>/edit">Edit</a>
    <form
      action="/movies/<%= movie.id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
